#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#export DH_VERBOSE = 1

export PYBUILD_NAME=ospd

override_dh_auto_clean:
	rm -f doc/osp.html
	dh_auto_clean

override_dh_installdocs:
#	# "xsltproc" is the dependency to run ./generate
	(cd doc; ./generate)
	dh_installdocs

%:
	dh $@ --with python3 --buildsystem=pybuild
